$main_color:#3c3faa;
$secondary_color:#60aaab;
$black_color:#252525;
$white_color:#fff;
$gray:#EBEBEB;



@import 'partial/_header';
@import 'partial/_footer';
@import 'partial/_home';
@import 'partial/_program';
@import 'partial/_podqaster-page';
@import 'partial/_auth';
@import 'partial/_player';
@import 'partial/_general';
@import 'media';
@import 'partial/_notifications'











