.hide-by-default {
    display: none;
}

body {
    overflow-x: hidden !important;
}

figure>img {
    width: 100%;
    height: 100%;
}


/**
 Bootstrap Customizing
**/
  .btn-blue {
    background-color: #0d96e0;
    color: #fff !important;
    border: none;
    border-radius: 0.25rem;
  }
  
  .btn-blue:hover {
    background-color: #0778b4;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(2, 137, 209, 0.2);
  }

  /**
  End of bootstrap Customizing
  */


.main-menu.menu-light .navigation > li ul {
    background: #b2dfdb1d !important;
}



.options-wrapper {
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: thin;
    /* Add bottom padding to prevent horizontal scrollbar from overlapping with the list items */
}

.options-wrapper::-webkit-scrollbar {
    height: 9px;
}

.list-options-wrapper {
    display: inline-block;
    white-space: nowrap;
}

.list-options {
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-width: 100%;
    /* Ensure the list takes up the full width of the options wrapper */
}

.list-options li {
    padding: 5px 10px;
    white-space: nowrap;
}

/* Scrollbar Styles */
.options-wrapper::-webkit-scrollbar {
    width: 6px;
}

.options-wrapper::-webkit-scrollbar-track {
    background-color: #fff;
}

.options-wrapper::-webkit-scrollbar-thumb {
    background-color: #9ca3afa1;
}

.swal2-container {
    z-index: 10000 !important;
}


.table-act-btn button.w-inherit {
    width: inherit;
    height: inherit;
}

.main-menu.menu-light .navigation>li.active>a {
    background: #1ab4a8;
    background: linear-gradient(48deg, #15b2a61a, rgba(20, 178, 166, 0.24));
    color: #1ab4a8 !important;
}

#preview_img {
    width: 60px;
    padding: 0 10px;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-lg	{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.badge-primary {
    background-color: #28b8ad;
}
.w-fit {
    width:fit-content;
}





  
.select2-search {
    width: 100% !important;
 }
  
  

/**
customize datatable
**/

.datatables_rows_per_page {
    display: inline-flex;
    width: 80px !important;
}

.datatables_rows_per_page>select {
    width: auto;
    cursor: pointer;
}

.dt-buttons {
    width: 100% !important;
    align-items: center !important;
    gap:8px !important;
}


.dt-button {
    background: #fff;
    color: #000000;
    border: transparent;
    padding: 8px 10px;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.dt-button:hover {
    background-color: #f4f4f5;
}

.dt-button-collection {
    margin-top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
}

.dt-button-collection button {
    border: none;
    padding: 8px 16px;
    transition-duration: 0.3s;
}

div.dt-button-collection > :last-child {
    display: grid !important;
    min-width: 15rem !important;
}


.dt-button-collection .dt-button::before {
    content: ""; 
   
}

.dt-button-collection .dt-button.active::before {
    content: "\2713"; /* Checkmark symbol */
    width: 1.5em;
}




.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #6d1bf2;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 






  .datatables-ajax  td {
    max-width: 150px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}