.auth-form{
  width: 40%;
  margin: 50px auto;
  padding: 32px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin-top: 100px;
  .logo{
    margin: 0 auto 30px auto;
    width: 130px;
  }
  .my-btn{
    width: 70%;
    margin: 20px auto;
    display: block;
  }
  h2{
    font-size: 24px;
    &:last-of-type{margin-bottom: 25px;}
    span{
      color: $main_color;
      font-weight: 800;
    }
  }
  .form-input{
    position: relative;
    margin: 15px 0;
    img{
      position: absolute;
      top: 11px;
      inset-inline-start: 9px;
      width: 15px;
    }
    input,.my-select,textarea{
      width: 100%;
      padding: 8px;
      border-radius: 9px;
      border: 1px solid #ccc;
      padding-inline-start: 30px;
    }
    textarea{
      height: 100px;
      resize: none;
      outline: none !important;
      padding-inline-start: 10px;
    }
  }
  .forget-password{
    text-align: end;
    a{
      color: #919191;
    }
  }
  .or{
    position: relative;
    text-align: center;
    &::after{
      position: absolute;
      content: "";
      background-color: #e7e7e7;
      width: 100%;
      height: 1px;
      left: 0;
      z-index: -1;
      top: 50%;
    }
    span{
      color: #919191;
      background-color: #fff;
      display: inline-block;
      padding: 0 10px;
    }
  }
  .other-buttons{
    button,a{
      width: 65%;
      margin: 20px auto;
      display: block;
      background-color: transparent;
      padding: 8px;
      border-radius: 9px;
      border: 1px solid #ccc;
      color: #000;
      text-align: center;
      svg{
        margin-inline-end: 7px;
        color: $main_color;
      }
    }
  }
  .have-account{
    text-align: center;
    a{
      color: $main_color;
    }
  }
  .select-country{
    display: flex;
    align-items: center;
    position: absolute;
    top: 18%;
    inset-inline-start: 7px;
    img{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: static;
    }
    select{
      border: none;
      outline: none !important;
    }
    & + input{
      padding-inline-start: 105px;
    }
  }
}



/**
* customize select2
*/
.country__select {
  width: 90px !important;
}

