footer{
  background-image: url('/website-assets/images/footer-bg.png');
  background-size: contain;
  background-position-x: right;
  background-color: $main_color;
  padding: 70px 0;
  .footer-main{
    img{width: 140px;}
    p{
      margin-top: 15px;
      width: 90%;
      font-size: 0.8rem;
      color: #e0e0e0;
    }
  }
  .footer-heading{
    font-size: 19px;
    color: $white_color;
    margin-top: 0px;
    margin-bottom: 20px;
    opacity: 0.9;
  }
  hr{
    width: 75px;
    height: 2px;
    background: $secondary_color 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 10px !important;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  ul{
    padding: 0;
    list-style: none;
    li{
      color: #e0e0e0;
      margin-bottom: 1.25rem;
      font-size: 1rem;
      transition: all 0.3s ease-in-out;
      &:hover{
        margin-inline-start: 10px;
      }
      a{
        color: #e0e0e0;
        cursor: pointer;
      }
    }
  }
  p{
    color: #e0e0e0;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    a{
      color: #e0e0e0;
      cursor: pointer;
    }
  }
  .social-buttons{
    a{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border: 0.125rem solid $white_color;
      padding: 0;
      text-decoration: none;
      color: #fefefe;
      font-size: 1.3rem;
      font-weight: normal;
      border-radius: 50%;
      transition: all 0.5s ease;
      margin-inline-end: 0.5rem;
      margin-bottom: 0.25rem;
      margin-top: 0.75rem;
      &:hover{
        color: $main_color;
        background: $white_color;
        border-color: $main_color;
        transform: rotate(360deg);
      }
    }
  }
  .float-btns{
    position: fixed;
    bottom: 20px;
    inset-inline-end: 20px;
    z-index: 99;
    a{
      display: block;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 7px 0;
      svg{color: $white_color;font-size: 22px;}
      &.whats{background-color: #25d366;}
      &.phone{background-color: #1682c5;}
    }
  }
}
