header{
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  transition: all 0.3s ease-in-out;
  padding: 15px;
  &.fixed-header,&.white-header{
    background-color: #fff;
    border-right: 8px solid $main_color;
    border-left: 8px solid $main_color;
    box-shadow: 0px 0 10px -5px $main_color;
    padding: 0;
    .navbar{
      .navbar-brand{
        .white{display: none;}
        .dark{display: block;}
      }
      .navbar-nav{
        padding: 0;
        background-color: transparent;
        .nav-item{
          .nav-link{
            color: $black_color;
            opacity: 1;
          }
        }
      }
      .auth{
        select{color: $black_color;opacity: 1;}
        a{color: $black_color;opacity: 1;}
        .search{
          input{
            border: 1px solid #aaa;
          }
        }
      }
    }
  }
  .navbar{
    .navbar-brand{
      margin: 0 1rem;
      width: 13.3%;
      .white{display: block;}
      .dark{display: none;}
      img{
        width: 190px;
      }
    }
    .navbar-nav{
      // padding: 10px;
      // background-color: rgba(60, 63, 170, 0.8);
      // border-radius: 5px;
      .nav-item{
        transition: all 0.3s ease-in-out;
        position: relative;
        .nav-link{
          position: relative;
          font-size: 19px;
          color: $white_color;
          opacity: 0.7;
          padding: 0.5rem 1rem;
          transition: all 0.3s ease-in-out;
        }
        &.active,&:hover{
          .nav-link{
            opacity: 1;
            &::after{
              transition: all 0.3s ease-in-out;
              position: absolute;
              content: '';
              width: calc(100% - 2rem);
              height: 2px;
              background-color: $secondary_color;
              left: 1rem;
              bottom: 5px;
            }
          }
        }
        .form-control{
          border-radius: 25px;
          padding: 2px 20px;
          padding-inline-start: calc(1rem + 20px);
          &:focus{border: none;}
        }
      }
    }
    .auth{
      display: flex;
      align-items: center;
      select{
        background: transparent;
        border: none;
        padding: 5px 0;
        color: $white_color;
        opacity: 0.7;
        font-size: 16px;
        option{
          padding: 10px;
          color: $black_color;
          display: block;
        }
        &:focus-visible{outline: none;}
      }
      a.login{
        display: block;
        margin: 0 15px;
        color: $main_color;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        background-color: #fff;
        border: 1px solid #cfcfcf;
        padding: 10px 20px;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
        &:hover{
          background-color: $main_color;
          color: #fff;
        }
      }
      a.user-profile{
        margin: 0 15px;
        img{
          width: 45px;
          height: 45px;
          border-radius: 50%;
          border: 2px solid #cfcfcf;
        }
      }
      .search{
        position: relative;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #cfcfcf;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        svg{
          color: $main_color;
          font-size: 20px;
        }
        &:hover{
          background-color: $main_color;
          svg{color: #fff;}
        }
      }
      .dropdown-menu{
        inset-inline-start: 0;
        text-align: start;
        width: 400px;
        .notification{
          padding: 15px;
          display: flex;
          justify-content: space-between;
          align-items: start;
          div{
            display: flex;
            align-items: center;
            img{
              margin-inline-end: 5px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
            span{font-size: 14px;}
          }
          .time{font-size: 12px;}
        }
      }
      .notification-btn{
        position: relative;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #cfcfcf;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        margin-inline-end: 15px;
        svg{
          color: $main_color;
          font-size: 20px;
        }
        p{
          color: red;
          width: 10px;
          height: 10px;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 3px;
          font-size: 12px;
          font-weight: 600;
        }
        &:hover{
          background-color: $main_color;
          svg{color: #fff;}
        }
      }
    }
  }
}
.search-container{
  padding-top: 200px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  .backdrop{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
  }
  .search-form{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99;
    input{
      font-weight: 500;
      font-size: 16px;
      border-radius: 0px 10px 0px 0px;
      border: none;
      color: #000000;
      background-color: #fff;
      padding: 16.7px 25px;
      width: 350px;
      border-bottom:1px solid #eee;
    }
    button{
      background-color: #ececec;
      padding: 18px 25px;
      border-radius: 10px 0px 0px 0px;
      font-size: 21px;
      color: $main_color;
      border: none;
      transition: all 0.3s ease-in-out;
      &:hover{
        background-color: $main_color;
        color: #fff;
      }
    }
  }
}
